.main {
    margin-bottom: 60px;
    text-align: center;
    font-size: 22px;
    p {
        margin: 0;
        margin-bottom: 40px;
    }
    .main_block {
        background: #F5F6F7;
    }
}

.row_block {
    padding: 10px 20px 10px 20px;
    min-height: 500px;
    position: relative;
}

.p-grid > .p-col, .p-grid > [class*=p-col]  {
    text-align: center;
}

.no_product_block {
    height: 100px;
    font-size: 24px !important;
    width: 100%;
    background: white;
    line-height: 100px;
}

.button_block {
    width: -webkit-fill-available;
    bottom: 10px;
    margin: 0; 
    margin-top: 15px;
    .button_row {
        padding: 0;
        min-height: 40px;
        &:first-child{
            padding-right: 20px;
        }
        button {
            min-height: 40px;
            width: 100%;
            border: none;
            font-size: 14px;
            color: white;
            font-weight: 600;
            background: #9df69d;
        }

        .cancel_button {
            background: #ff2b2b;
        }
    }
}

.calulation_feild {
    bottom: 60px;
    width: 100%;
    .p-grid {
        margin: 0px !important;
        border-bottom: solid 1px #cdd1d3;
    }
    .input_label {
        padding: 0px;
        min-height: 40px;
        line-height: 40px;
        background: #edeff1;
        font-size: 16px;
        text-align: left;
        padding-left: 15px;  
    } 
    .input_item {
        padding: 0px;
        min-height: 40px;
        line-height: 40px;
        background: white;
        font-size: 18px;
        text-align: right;
        padding-right: 15px;
    }
    .input_block {
        padding: 0px;
        min-height: 40px;
        input {
          width: 100%;
          height: 100%;  
          border: none;
          padding-left: 15px;
          font-size: 16px;
        }
    }
}

.image_block {
    position: relative;
    img {
        width: 120px;
        height: 120px;
    }

    .mouse_hover_block {
        position: absolute;
        background-color: rgba(58, 103, 171, 0.55);
        max-width: 120px;
        width: 120px;
        left: 50%;
        height: 120px;
        top: 0.5em;
        transform: translate(-50%, 0);
        span {
            display: inline-block;
            margin-top: 14px;
            font-size: 18px;
            text-transform: capitalize;
            color: white;
        }

        h6 {
            font-size: 12px;
            text-transform: capitalize;
            color: white;  
            margin: 10px;
            font-weight: normal
        }
    }
}
.item_block {
    background: white;
    font-size: 16px;
    border-bottom: solid 1px #cdd1d3;
    margin-top: 1px;
    .close_button {
        background: red;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-weight: normal;
        padding-top: 2px;
        text-align: center;
        font-size: 20px;
        float: right;
    }

    .item_column {
        min-height: 45px;
        line-height: 45px;
        &:first-child{
            line-height: 0;
            margin-top: 6px;
        }
    }

    .quantity_column {
        min-height: 45px;
        line-height: 45px;
        display: flex;
        text-align: center;
        transform: translate(30px, 5px); 
    }
    
    .item_button {
        width: 30px;
        height: 30px;
        background: lightgrey;
        line-height: 30px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        .pi {
            line-height: unset;
        }
    }

    .item_button_input {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}

.notEdit {
    pointer-events: none;
}