<div class="main" style="padding: 30px;">
  <p>Landing page</p>
  <div class="p-grid main_block">
    <div class="p-col-12 p-md-6 p-lg-5 row_block">
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-1">
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">Product</div>
        <div class="p-col-12 p-md-6 p-lg-2">Price</div>
        <div class="p-col-12 p-md-6 p-lg-3">Quantity</div>
        <div class="p-col-12 p-md-6 p-lg-3">Total</div>
      </div>
      <!-----------------------------Selected Product list block------------------------------->
      <div style="min-height: 250px;">
        <div *ngIf="selectedProductList.length>0" class="list">
          <div class="p-grid item_block" *ngFor="let item of selectedProductList; let i = index">
            <div class="p-col-12 p-md-6 p-lg-1 item_column">
              <div class="close_button" (click)="removeProduct(i,item)">
                <i class="pi pi-times"></i>
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 item_column">{{item.name}}</div>
            <div class="p-col-12 p-md-6 p-lg-2 item_column">{{item.price}} Rs</div>
            <div class="p-col-12 p-md-6 p-lg-3 quantity_column" style="display: flex">
              <div class="item_button" (click)="removeQantityofProduct(item)">
                <i class="pi pi-minus"></i>
              </div>
              <div class="item_button_input">
                {{item.quantity}}
              </div>
              <div class="item_button" (click)="addQantityofProduct(item)">
                <i class="pi pi-plus"></i>
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 item_column">{{item.totalPrice}} Rs</div>
          </div>
        </div>
        <!------------------------------ no Product block-------------------------------------------------------->
        <div class="no_product_block" *ngIf="selectedProductList.length==0">
          There are no products
        </div>
      </div>
      <!------------------------------ Input feild block------------------------------------------------------>
      <div style="margin-top: 15px;">
        <form [formGroup]="productForm">
          <div class="calulation_feild">
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4 input_label">Subtotal</div>
              <div class="p-col-12 p-md-6 p-lg-4 input_block">
                <input type="text" formControlName="subtotal" (keypress)="inputNumbers($event)">
              </div>
              <div class="p-col-12 p-md-6 p-lg-4 input_item">
                {{finalQuentity}} items
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4 input_label">Vat tax</div>
              <div class="p-col-12 p-md-6 p-lg-4 input_block">
                <input type="text" formControlName="vat"  maxlength="3" (keypress)="inputNumbers($event)">
              </div>
              <div class="p-col-12 p-md-6 p-lg-4 input_item">
                {{finalVat}} Rs
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4 input_label">Discount</div>
              <div class="p-col-12 p-md-6 p-lg-4 input_block">
                <input type="text" formControlName="discount"  maxlength="3" (keypress)="inputNumbers($event)">
              </div>
              <div class="p-col-12 p-md-6 p-lg-4 input_item">
                {{finalDiscount}} Rs
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4 input_label">Total</div>
              <div class="p-col-12 p-md-6 p-lg-8 input_block">
                <input type="text" class="notEdit" formControlName="total" (keypress)="inputNumbers($event)">
              </div>
            </div>
          </div>
        </form>
        <div class="p-grid button_block">
          <div class="p-col-12 p-md-6 p-lg-6 button_row">
            <button (click)="cancelSale()" class="cancel_button">Cancel Sale</button>
          </div>

          <div class="p-col-12 p-md-6 p-lg-6 button_row">
            <button (click)="pocessSale()">Process Sale</button>
          </div>
        </div>
      </div>

    </div>

    <!----------------------------------------Product list block--------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-7 row_block">
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3 image_block" *ngFor="let data of productData;let i=index">
          <img [src]="data.image" (mouseenter)="mouseEnter(data, i)">
          <div class="mouse_hover_block" *ngIf="data.showInfo" (mouseleave)="mouseLeave(data, i)" (click)="selectProduct(data, i)">
            <span>{{data.name}}</span>
            <h6>{{data.price}} Rs</h6>
            <h6>{{data.description}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-receipt-page *ngIf="show_modal" [selectedProductList]="selectedProductList" [discountPercantage]="productForm.controls['discount'].value" 
[vatPercantage]="productForm.controls['vat'].value" [finalQuentity]="finalQuentity" [finalTotalPrice]="productForm.controls['total'].value" (closemodal)="closeModal($event)">

</app-receipt-page>