/*----- popup css -----*/
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);     
    z-index: 10;   
}
.modal-container {    
    width: 35%;       
    z-index: 11;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    background: #ffffff;
}
.modal-header {
    position: relative;
    background: #29034d;
    padding: 15px;
    color: white;
    font-size: 16px;
}    

.modal-content {
    // padding: 0 0 25px;
    overflow-y: scroll;
    height: 100%;
    font-size: 14px;
    padding: 15px 15px 0px 15px;
    color: black;
    p {
        margin: 0;
    }
    .content_head {
        text-align: center;
    }
    .date {
        margin-top: 5px;
    }

    .items_columns_head {
        margin-top: 10px;
        min-height: 20px;
        line-height: 20px;
        border-bottom: 1px solid #cdd1d3;
        .items_column {
            text-align: center;
        }
    }

    .final_column {
        min-height: 25px;
        line-height: 25px;
        border-top: 1px solid #cdd1d3;
    }

    .extra_column {
       margin-top: 0px; 
       min-height: 25px;
       line-height: 25px;
    }
}
.heading_container {
    padding: 50px 20px 20px;
    border-bottom: 1px solid var(--stroke);
}
.heading_container h4 {
    font-size: 18px;
}
.footer {
    padding: 15px;
    button {
        width: 100%;
        padding: 5px;
        background: white;
        box-shadow: none;
        border: 1px solid #cdd1d3;
        color: black;
        font-size: 16px;
    }
}

.list {
    margin: 0;
}

@media screen and (max-width: 360px) { 
    .modal-header img {                 
        height: 80px;
    }
    .heading_container h4 {
        font-size: 16px;
    }
}
/*----- popup css -----*/

.list {
    padding-bottom: 200px;
    background: white;
    max-height: 500px;
    height: auto;
    overflow-y: overlay;
    padding-bottom: 15px;
    overflow-x: hidden;
}