<div class="custom_modal">
  <div class="backdrop"></div>
  <div class="modal-container">
    <header class="modal-header">
      Receipt
    </header>
    <div class="modal-content cancel_popup">
      <div class="content_head">
        Sale No 00021
      </div>
      <p class="date">Date 01-18-2018</p>
      <div class="ui-g ui-g-nopad items_columns_head">
        <div class="ui-g-12 ui-md-6 ui-lg-1 ui-g-nopad items_column">#</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">Product</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3 ui-g-nopad items_column">Quantity</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">Subtotal</div>
      </div>
      <div class="ui-g ui-g-nopad items_columns_head" *ngFor="let data of selectedProductList; let i = index" style="border: none">
        <div class="ui-g-12 ui-md-6 ui-lg-1 ui-g-nopad items_column">{{i}}</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">{{data.name}}</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3 ui-g-nopad items_column">{{data.quantity}}</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">{{data.totalPrice}} Rs</div>
      </div>

      <div class="ui-g ui-g-nopad items_columns_head final_column">
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">Total items</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">{{finalQuentity}} total</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">{{finalTotalPrice}} Rs</div>
      </div>

      <div class="ui-g ui-g-nopad items_columns_head extra_column">
        <div class="ui-g-12 ui-md-6 ui-lg-offset-4 ui-lg-4 ui-g-nopad items_column">Discount</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">{{discountPercantage}} %</div>
      </div>

      <div class="ui-g ui-g-nopad items_columns_head extra_column" style="min-height: 50px;">
        <div class="ui-g-12 ui-md-6 ui-lg-offset-4 ui-lg-4 ui-g-nopad items_column">VAT</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad items_column">{{vatPercantage}} %</div>
      </div>
    </div>
    <footer class="footer" text-right>
      <button (click)="valuechange()">cancel</button>
    </footer>
  </div>
</div>
